@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Social Media</h1>
    <p>La red social hecha para profesionales y estudiantes.</p>
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-primary" href="@Url.Action("Index","InicioSesion")">Iniciar Sesión</a><a class="btn btn-secondary" href="@Url.Action("Registrarse","Usuario")">Registrarse</a>
    </div>
    
</div>
